<div class = "side-header">
  <div class = "header-name">
    <a href = "#">Tom</a>
  </div>
  <div class = "create-chatroom">
    <a href = "#">チャットを作成する</a>
  </div>
</div>

<div class = "chatrooms">
  <div class = "chatroom">
    <div class = "room-name">
      <a href = "#">techtoom1</a>
    </div>
    <div class = "room-name">
      <a href = "#">techtoom2</a>
    </div>
    <div class = "room-name">
      <a href = "#">techtoom3</a>
    </div>
    <div class = "room-name">
      <a href = "#">techtoom4</a>
    </div>
    <div class = "room-name">
      <a href = "#">techtoom5</a>
    </div>
    <div class = "room-name">
      <a href = "#">techtoom6</a>
    </div>
    <div class = "room-name">
      <a href = "#">techtoom7</a>
    </div>
    <div class = "room-name">
      <a href = "#">techtoom8</a>
    </div>
    <div class = "room-name">
      <a href = "#">techtoom9</a>
    </div>
    <div class = "room-name">
      <a href = "#">techtoom10</a>
    </div>
  </div>
</div>